{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<h1>Répondre</h1>
            {{question.question}}

            {{ form_start(form) }}
            {{ form_row(form.answer) }}
            <button type="submit">Répondre à la question</button>
            {{ form_end(form) }}

{% endblock %}
