body {
  background-color: white;
}


/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  box-shadow: 0 4px 4px grey;
}

button {
  all: unset;
  background-color: #11C9C2;
  padding: 0.5em 1.5em;
  border: 1px solid #11C9C2;
  border-radius: 5px;
  margin-right: 1em;
  color: white;
}

button:hover {
  background-color: white;
  border: 1px solid #11C9C2;
  color: #11C9C2;
}

button:hover>a {
  color: #11C9C2;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #7CB243;
}

.searchbar-container {
  display: flex;
  align-items: center;
}

#searchbar {
  all: initial;
  width: 400px;
  height: 40px;
  background-color: lightgray;
  padding: 0 2em;
}

.fa-magnifying-glass {
  position: absolute;
  color: grey;
  margin-left: 0.5em;
}

.navbar-link {
  padding: 0 10px;
}

.navbar-logo {
  margin-left: 1rem;
}

.navbar-logo>a {
  color: white;
}

.navbar-link>a{
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 20%;
  width: 20%;
}

.burger {
  display: none;
}

li {
  list-style: none;
}

a:visited {
  color: white;
}

a {
  text-decoration: none;
}